@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  width: 100%;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222222;
}

h2 {
  font-size: 42px;
  line-height: 54px;
  color: #222222;
}

h4 {
  font-size: 20px;
  color: #222222;
}

h6 {
  font-size: 12px;
  font-weight: 500;
}

p {
  font-size: 16px;
  color: #9d9d9d;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0px;
}
a {
  text-decoration: none;
}
.btn_primary {
  font-size: 14px;
  font-weight: 500;
  background: #823001;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
}

/*-------------- ---------------------Index/Home Page ----------------------- -----------------  */
/*-------------- header -----------------  */
#header {
  background-color: #d9cfc9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  z-index: 999;
  position: sticky; /* solve problem -> show shadow and sticky navBar*/
  top: 0;
  left: 0;
}
.logo {
  font-size: 18px;
  font-weight: 800;
  color: #925b39;
  font-family: Brush Script MT, Brush Script Std, cursive;
}
.logo:hover {
  color: #795844;
  transition: 0.3s ease;
}
#navBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navBar li {
  list-style: none;
  padding: 0 20px;
  position: relative; /* parent of - #navBar li a.active::after */
}

#navBar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #795844;
}

#navBar li a:hover,
#navBar li a.active {
  color: #8e3d0a;
  transition: 0.3s ease;
}

#navBar li a.active::after,
#navBar li a:hover::after {
  content: "";
  background-color: #8e3d0a;
  height: 2px;
  width: 30%;
  position: absolute; /* child of - #navBar li*/
  bottom: -4px;
  left: 20px;
}

#hamburger_menu {
  display: none; /* bar icon hide from main menu*/
  align-items: center;
  /* justify-content: center; */
}
#close {
  display: none; /* close icon hide to main menu and only show in small screen*/
}
/*--------------Home Page -> Hero -----------------  */
#hero {
  background-image: url(images/banners/hero4.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  align-items: flex-start; /* Button Problem solve*/
  flex-direction: column;
  justify-content: center;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #795844;
  text-transform: capitalize;
}
#hero p {
  background: #795844;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  opacity: 0.8;
  font-weight: 100;
  letter-spacing: 0.8px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#hero button {
  /* background-image: url(); */
  border: 2px solid #7c5c47;
  padding: 10px 20px;
  color: #4b362a;
  background: transparent;
  font-weight: 700;
  text-transform: capitalize;
}
#hero button:hover {
  background: #7c5c47;
  transition: 0.3s ease;
  color: aliceblue;
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
/*-------------- feature -----------------  */
#feature {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
#feature .feature-box {
  width: 180px;
  border: 1px solid #7c5c47;
  border-radius: 5px;
  padding: 20px 10px;
  margin: 10px 0px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  /* opacity: 0.1; */
}
#feature .feature-box:hover {
  box-shadow: 10px 10px 44px rgba(141, 141, 141, 0.704);
}

.feature-box img {
  width: 100%;
  margin-bottom: 5px;
}
.feature-box h6 {
  /* display: inline-block; */
  text-align: center;
  padding: 6px 0;
  opacity: 0.8;
  color: rgb(255, 255, 255);
  background: #795844;
  line-height: 1;
}
.feature-box:nth-child(even) h6 {
  background: #823001;
}
/*-------------- feature - Products -----------------  */
#featureProducts {
  text-align: center;
}
#featureProducts .f-Container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#featureProducts .products {
  width: 23%;
  min-width: 250px;
  max-height: 400px;
  padding: 10px;
  border: 1px solid rgb(228 228 228);
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  cursor: pointer;
  margin: 10px;
  position: relative; /* parent of - #featureProducts .products .cart*/
}
#featureProducts .products:hover {
  box-shadow: 10px 10px 34px rgba(141, 141, 141, 0.704);
}

#featureProducts .products img {
  width: 80%;
  height: 230px;
  /* min-width: 100px; */
  border-radius: 10px;
}
#featureProducts .products .description {
  text-align: start;
  padding: 10px 0;
}
#featureProducts .products .description span {
  color: rgb(177, 177, 177);
  font-size: 12px;
}
#featureProducts .products .description h5 {
  color: #1a1a1a;
  font-size: 14px;
}
#featureProducts .products .description i {
  color: rgb(238, 206, 45);
  font-size: 12px;
}
#featureProducts .products .description h4 {
  font-size: 18px;
  font-weight: 700;
  padding-top: 7px;
  color: #564848;
}
#featureProducts .products .cart {
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: #e1e1e1;
  color: #000000;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
/*-------------- banner -----------------  */
#banner {
  background-image: url(images/banners/banner.jpg);
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#banner h4 {
  color: #d9cfc9;
  font-size: 16px;
}
#banner h2 {
  color: #d9cfc9;
  font-size: 40px;
  padding: 10px 0;
}
#banner h2 span {
  color: #823001;
}
#banner button {
  font-size: 14px;
  font-weight: 500;
  background: #823001;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
}
#banner button:hover {
  background: #5f2301;
  transition: 0.3s ease;
}
/*-------------- New Arrivals(same as Feature Products ) -----------------  */

/*-------------- sm-banners -----------------  */
#sm-banners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #d9cfc9;
}
#sm-banners .banner-box {
  background: url(images/banners/hero2.jpg);
  min-width: 650px;
  height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* text-align: center; */
}
.banner-box h2 {
  color: #baa89d;
}
.banner-box h4 {
  color: #ffffff;
}
.banner-box span {
  color: #e7e7e7;
  margin-bottom: 20px;
}
.banner-box button {
  font-size: 14px;
  font-weight: 500;
  background: #823001;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
}
.banner-box button:hover {
  background: #682702;
}
#sm-banners .banner-box2 {
  background-image: url("images/banners/hero1.jpg");
}

/*-------------- Small Banners-3 -----------------  */
#xsm-bnr {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
  padding: 0 80px;
}
#xsm-bnr .banner-box {
  background-image: url("images/hero3.jpg");
  min-width: 32%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;

  margin-bottom: 20px;
}

#xsm-bnr .banner-box2 {
  background-image: url("images/banners/hero2.jpg");
}
#xsm-bnr .banner-box3 {
  background-image: url("images/banners/hero4.jpg");
}
#xsm-bnr h2 {
  color: #ffffff;
}
#xsm-bnr h3 {
  color: #823001;
}

/*-------------- Newsletters -----------------  */
#newsletters {
  background-image: url("images/banners/nl.jpg");
  background-repeat: no-repeat;
  height: 30vh;
  background-size: cover;
  background-position: 20% 30%;
  background-color: #000000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#newsletters h4 {
  font-size: 22px;
  font-weight: 700;
  color: #cfc0b6;
}
#newsletters p {
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
}
#newsletters p span {
  color: #efb326;
  padding: 8px;
}
#newsletters .form {
  display: flex;
  width: 40%;
}
#newsletters input {
  height: 3.125rem;
  padding: 0 20px;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletters button {
  background: #823001;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 150px;
}
/*-------------- Footer -----------------  */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer h4 {
  color: #222222;
  font-size: 14px;
  padding-bottom: 15px;
}
footer p {
  font-size: 12px;
  margin-bottom: 8px;
}
footer a {
  font-size: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #535353;
}
footer a:hover {
  color: #823001;
  text-decoration: underline;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #3d3d3d;
  padding-right: 5px;
  cursor: pointer;
}
footer .follow i:hover {
  color: #823001;
}
footer .install .row img {
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .copyright {
  width: 100%;
  text-align: center;
}
/*-------------- ---------------------Media Query ----------------------- -----------------  */
@media (max-width: 1480px) {
  #sm-banners .banner-box {
    min-width: 48%;
  }
}
@media (max-width: 1102px) {
  #xsm-bnr .banner-box {
    min-width: 48%;
  }
}
@media (max-width: 992px) {
  #sm-banners .banner-box {
    min-width: 45%;
  }
  #xsm-bnr .banner-box {
    min-width: 100%;
  }
}
@media (max-width: 965px) {
  #sm-banners .banner-box {
    min-width: 100%;
    margin-bottom: 20px;
  }
}
/* -------------- max-width: 799px--------------   */
@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  /* -------------- navBar -------------- */

  #navBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    /* right: 0; */
    right: -300px; /* hide that and show after click on bar icon */
    width: 300px;
    height: 100vh;
    padding: 80px 0 0 10px;
    background-color: #f0f0f0;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.02);
    transition: 0.3s;
  }
  #navBar.active {
    right: 0; /* from js to show menu*/
  }
  #navBar li {
    margin-bottom: 30px;
  }
  #hamburger_menu {
    display: flex; /* bar click - show mwnu - none to flex*/
    align-items: center;
  }

  #hamburger_menu i {
    color: #925b39;
    padding-left: 20px;
    font-size: 24px;
  }
  #hamburger_menu i:hover,
  #close i:hover {
    color: #713d1d;
  }
  #close {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 24px;
    color: #925b39;
    display: inline;
  }
  #cart {
    display: none;
  }

  /* -------------- hero -------------- */
  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  /* -------------- feature -------------- */
  #feature {
    justify-content: center;
  }
  #feature .feature-box {
    margin: 15px 15px;
  }
  /* -------------- featureProducts -------------- */
  #featureProducts .f-Container {
    justify-content: center;
  }
  #featureProducts .products {
    margin: 15px;
  }
  /* -------------- banner -------------- */
  #banner {
    height: 20vh;
  }
  /* -------------- sm-banners -------------- */
  #sm-banners .banner-box {
    min-width: 100%;
    height: 30vh;
  }
  /* -------------- xsm-bnr - 3 -------------- */
  #xsm-bnr {
    padding: 0 40px;
  }
  #xsm-bnr .banner-box {
    width: 28%;
  }
  /* -------------- newsletters -------------- */
  #newsletters {
    height: 40vh;
  }
  #newsletters .form {
    width: 70%;
  }
}
/* -------------- max-width: 477px--------------   */
@media (max-width: 500px) {
  /* -------------- header -------------- */
  #header {
    padding: 10px 30px;
  }
  #hamburger_menu i {
    font-size: 20px;
  }
  #close {
    top: 20px;
    right: 80px;
  }
  /* -------------- hero -------------- */
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  /* -------------- feature -------------- */
  .section-p1 {
    padding: 20px;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .feature-box {
    width: 155px;
    margin: 0px 0px 15px 0px;
  }
  /* -------------- featureProducts -------------- */
  #featureProducts .products {
    width: 100%;
  }
  /* -------------- banner -------------- */
  #banner {
    height: 40vh;
  }
  #banner h2 {
    font-size: 30px;
  }
  /* -------------- banner -------------- */
  #sm-banners .banner-box {
    height: 40vh;
  }
  #sm-banners .banner-box2 {
    margin-top: 20px;
  }
  /* -------------- xsm-bnr  -------------- */
  #xsm-bnr {
    padding: 0 20px;
  }
  #xsm-bnr .banner-box {
    width: 100%;
  }
  /* -------------- newsletters  -------------- */
  #newsletters .form {
    width: 100%;
  }
  #newsletters h4 {
    font-size: 28px;
  }
  /* -------------- copyright  -------------- */
  footer .copyright {
    text-align: start;
  }
}

/*-------------- ---------------------Shop Page ----------------------- -----------------  */
#page_header {
  background-image: url("images/banners/bnr2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 14px;
}
#page_header h2,
#page_header p {
  color: #2f2f2f;
  text-align: center;
}
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #925b39;
  color: #f8f8f8;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: 600;
}
#pagination a i {
  font-size: 14px;
  font-weight: 600;
}
/*-------------- ---------------------Shop Page -> Single Product ----------------------- -----------------  */
#Product_Details {
  display: flex;
  margin-top: 20px;
}
#Product_Details .single_product_img {
  width: 40%;
  margin-right: 50px;
}
#main_Img {
  border: 1px solid #efefef;
}
.sml_img_group {
  display: flex;
  justify-content: space-between;
}
.sml_img_col {
  flex-basis: 24%;
  cursor: pointer;
  border: 1px solid #efefef;
  border-radius: 4px;
}
#Product_Details .single_product_details {
  width: 50%;
  padding-top: 30px;
}
#Product_Details .single_product_details h4 {
  padding: 30px 0 20px 0;
  color: #000000;
}
#Product_Details .single_product_details h2 {
  font-size: 32px;
  margin: 0px 0 10px;
  color: #823001;
}
#Product_Details .single_product_details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  /* border-radius: 4px; */
}
#Product_Details .single_product_details select:focus {
  outline: none;
}
#Product_Details .single_product_details input {
  width: 50px;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  /* border-radius: 4px; */
  outline: none;
}
#Product_Details .single_product_details input:focus {
  outline: none;
}
#Product_Details .single_product_details button {
  background-color: #823001;
  color: #fffefe;
  padding: 10px;
  border-radius: 4px;
  border: 0;
}
#Product_Details .single_product_details span {
  line-height: 25px;
  color: #c2c2c2;
}
/*-------------- ---------------------Media Query ----------------------- -----------------  */
@media (max-width: 477px) {
  #Product_Details {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  #Product_Details .single_product_img {
    width: 100%;
    margin-right: 0px;
  }
  #Product_Details .single_product_details {
    width: 100%;
  }
}
/*-------------- ---------------------blog Page ----------------------- -----------------  */
#page_header.blog_header {
  /* put id and class without space */
  background-image: url("images/banners/bnr4.jpg");
}
/* #page_header.blog_header h2,
#page_header.blog_header p {
  color: #ffffff;
} */
#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog_box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative; /* parent of #blog .blog_box h1 */
  padding-bottom: 90px;
}
#blog .blog_img {
  width: 50%;
  margin-right: 40px;
}
#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog_details {
  width: 50%;
}
#blog .blog_details a {
  text-decoration: none;
  color: #823001;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  position: relative; /* parent of #blog .blog_details a::after */
  transition: 0.3s;
}
#blog .blog_details a::after {
  content: " ";
  width: 45px;
  height: 2px;
  background-color: #823001;
  position: absolute;
  top: 6px;
  right: -55px;
}
#blog .blog_details a:hover {
  color: #c54901;
}
#blog .blog_details a:hover::after {
  background-color: #c54901;
}
.blog_box h1 {
  position: absolute;
  top: -50px;
  left: 0px;
  font-size: 70px;
  font-weight: 700;
  color: #e7e7e7;
  z-index: -9;
}
/*-------------- ---------------------Media Query ----------------------- -----------------  */
@media (max-width: 477px) {
  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
  }
  #blog .blog_img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #blog .blog_details {
    width: 100%;
  }
}
/*-------------- ---------------------about Page ----------------------- -----------------  */

#page_header.about_header {
  background-image: url("images/banners/bnr5.jpg");
}
#about_head {
  display: flex;
  align-items: center;
}
#about_head img {
  height: auto;
  width: 50%;
}
#about_head .about_detail {
  padding-left: 40px;
}
#about_head marquee {
  background-color: #dfdfdf;
  width: "100%";
}
#about_app {
  text-align: center;
}
#about_app .about_video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0;
}
#about_app .about_video video {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
/*-------------- ---------------------Media Query ----------------------- -----------------  */
@media (max-width: 477px) {
  #about_head {
    flex-direction: column;
  }
  #about_head img {
    width: 100%;
    margin-bottom: 20px;
  }
  #about_head .about_detail {
    padding-left: 0px;
  }
  #about_app .about_video {
    width: 100%;
  }
}

/*-------------- ---------------------contact Page ----------------------- -----------------  */
#contact_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact_details .c_details {
  width: 40%;
}
#contact_details .c_details span,
#contact_form form span {
  font-size: 12px;
  font-weight: 400;
}
#contact_details .c_details h2,
#contact_form form h2 {
  font-size: 32px;
  line-height: 35px;
  padding: 20px 0;
  color: #757575;
}
#contact_details .c_details h3 {
  font-size: 16px;
  padding-bottom: 30px;
}
#contact_details .c_details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact_details .c_details li i {
  font-size: 14px;
  padding-right: 20px;
  color: #757575;
}
#contact_details .c_details li p {
  margin: 0;
  font-size: 14px;
}
#contact_details .c_map {
  width: 55%;
  height: 400px;
}
#contact_details .c_map iframe {
  width: 100%;
  height: 100%;
}
/* contact_form */
#contact_form {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #d9d9d9;
}
#contact_form form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#contact_form form input,
#contact_form form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #ededed;
}
#contact_form .c_people {
  width: 30%;
  margin-top: 80px;
}
#contact_form .c_people .img_c {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin: 15px 15px 0px 0px;
}
#contact_form .c_people img {
  /* width: auto;
  height: 100%; */
  width: 65px;
  height: 65px;
  margin-left: -3px;
  object-fit: cover;
  margin-right: 15px;
}
#contact_form .c_people .c_p_div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}
#contact_form .c_people .c_p_div p {
  margin: 0;
  font-size: 13px;
  line-height: 20px;
}
#contact_form .c_people .c_p_div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
/*-------------- ---------------------Media Query ----------------------- -----------------  */
@media (max-width: 799px) {
  #contact_form {
    padding: 10px;
  }
  #contact_form .c_people .c_p_div p {
    font-size: 10px;
  }
}
@media (max-width: 477px) {
  #contact_details {
    flex-direction: column;
  }
  #contact_details .c_details {
    width: 100%;
    margin-bottom: 30px;
  }
  #contact_details .c_map {
    width: 100%;
  }
  #contact_form {
    flex-direction: column;
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }
  #contact_form form {
    width: 100%;
  }
  #contact_form .c_people {
    width: 100%;
    margin-top: 20px;
    /* text-align: center; */
  }
  #contact_form .c_people .img_c {
    margin-top: 15px;
  }
  #contact_form .c_people .c_p_div {
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    border-bottom: 1px solid #ededed;
    margin: 20px;
  }
  #contact_form .c_people .c_p_div:last-child {
    border-bottom: none;
  }
  #contact_form .c_people .c_p_div p {
    font-size: 12px;
  }
}

/*-------------- ---------------------cart Page ----------------------- -----------------  */ ;
